{% extends 'commonlayout.html' %}
 
{% block body %}

<!-- <div class="jumbotron text-center" style="margin-top: 8px">
	<div class="container-fluid">
	<img src="/static/images/five.jpg" class="img-fluid" style="height: 200px;width: 100%" alt="Responsive image">  
   </div>
</div> -->
<style>
.hover>.hoverable-square:hover {
  transform: scale(1.2);
  transition:1s; 
  border-radius: 5px;
}
.card-border:hover {
  margin-top: -5px;
  cursor: pointer;
}
.hover>.hoverable-circle:hover {
  transform: scale(1.2);
  transition:1s;
  border-radius: 50%;
}
</style>
 <div class="album py-5 bg-light">
    <div class="container">

      <div class="row container">
 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="static/images/food.jpg" alt="Card image hoverable-circle" >
     <div class="card-body">
       <h4 class="card-title">Foods</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>
 
 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="static/images/foodchildren.jpg" alt="Card image hoverable-circle" >
     <div class="card-body">
       <h4 class="card-title">Donate</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>
 
 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="/static/images/help poor.jpg" alt="Card image" >
     <div class="card-body">
       <h4 class="card-title">Help Poor</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>

 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="/static/images/floods.jpg" alt="Card image" >
     <div class="card-body">
       <h4 class="card-title">Serve</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>

 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="/static/images/poorkids.jpg" alt="Card image" >
     <div class="card-body">
       <h4 class="card-title">poorkids</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>

 <div class="col-4">
   <div class="card card-border hover">
     <img class="card-img-top rounded-circle" src="/static/images/serve.jpg" alt="Card image" >
     <div class="card-body">
       <h4 class="card-title">Serve food</h4>
       <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
       <a href="#" class="btn btn-primary">More info</a>
     </div>
   </div>
 </div>

</div>





    </div>
</div>




{% endblock %}