<!-- <div class="nav-bar nav-bar-trans">
    <div class="nav-honey"><img src="static/images/logo1.png" alt="HaveIt" class="img-fluid"></div>
    <h2 class="push-right text-orange text-right" >IT's SHOW TIME</h2>
</div>
 -->
 <style>
   a{
    font-size: 20px;
    color: #ffffff;
   }
 </style>
<nav class="navbar navbar-expand-sm navbar-default" style="height: 120px;background-color: #000033">
   <a class="navbar-brand " href="#">
    <img src="static/images/donation.jpg" class="rounded-circle" alt="logo" style="width:120px;height: 120px">
  </a>
  <a class="navbar-brand" href="#" style="color:yellow;font-family: 'Satisfy', sans-serif; ">S<b>ave</b> food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="width: ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home">Home</i> </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fa fa-info">About</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fa fa-phone">Contact</i></a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <ul class="dropdown-menu">
       <li> <a class="dropdown-item" href="#">Link 1</a></li>
       <li> <a class="dropdown-item" href="#">Link 2</a></li>
        <li><a class="dropdown-item" href="#">Link 3</a></li>
      </ul>
    </li>


    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-outline-primary" href="/signup">Sign up</a>
    <a class="btn btn-outline-primary" href="/signin">Sign in</a>
      
    
  </div>
</nav>